div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12.text-center
      h1 Вход
      p
        Войдите для получения помощи
      form.form(name='form', ng-submit='login(form)', novalidate='')
        .form-group.has-error
          p.help-block {{ errors.other }}
        div
          a.btn.btn-facebook(href='', ng-click='loginOauth("facebook")')
            i.fa.fa-facebook
            |  Войти через Facebook
          = ' '
          a.btn.btn-google-plus(href='', ng-click='loginOauth("google")')
            i.fa.fa-google-plus
            |  Войти через Google+
          = ' '
          a.btn.btn-twitter(href='', ng-click='loginOauth("twitter")')
            i.fa.fa-twitter
            |  Войти через Twitter
