div(ng-include='"components/navbar/navbar.html"')

.container
    .div.messagesArea(scroll-glue)
       div.message.row(ng-repeat='message in messages | reverse')
         div.col-xs-2.col-sm-1
           img.avatar(src='assets/images/flap_logo.jpg', ng-show='message.sender=="support"')
           img.avatar(src='assets/images/you_avatar.png', ng-show='message.sender!="support"')
         div.col-xs-10.col-sm-11
           div.message-header
               strong(ng-show='message.sender=="support"') Флап Поддержка
               strong(ng-show='message.sender!="support"')
                   {{currentUser.name}}
               span(am-time-ago="message.date")
           div.message-body
             p(ng-bind-html="message.text")
         //button.close(type='button', ng-click='deleteThing(thing)') ×
    form.message-form
        div.form-group
            label Ваше сообщение
            textarea.form-control(type='text', placeholder='Отправить - CTRL+ENTER', ng-model='newMessage', autofocus, msd-elastic='')
        div
            span.input-group-btn
                button.btn.btn-primary(type='submit', ng-click='addMessage()') Отправить сообщение


footer.footer
  .container
    p
      | Флап Поддержка Компаний
      = ' | '
      a(href='http://флап.рф') Флап.рф